<ion-header>
  <ion-toolbar>
    <ion-item>
          <ion-title class="ion-text-center">Proveedores</ion-title>
    <ion-button [routerLink]="['/home']"> <ion-icon slot="icon-only" name="home"></ion-icon>
    </ion-button>
    </ion-item>

  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-grid fixed>
    <ion-row *ngFor="let item of data">
      <ion-col size="6">

    
        <ion-card>
              <ion-card-content>
          Prveedor: {{item.marca}}
        </ion-card-content>

        <ion-item lines="none">
          <ion-button expand="block" fill="clear" shape="round">
            Editar
          </ion-button>
  
          <ion-button color="danger" expand="block" fill="clear" shape="round">
            Eliminar
          </ion-button>
        </ion-item>


        </ion-card>




      </ion-col>
      
    </ion-row>
  </ion-grid>

</ion-content>
