<ion-header>
  <ion-toolbar>
    <ion-item>
          <ion-title class="ion-text-center">Actualizar DN, FECHA y CADUCIDAD por ICC</ion-title>
    <ion-button [routerLink]="['/home']"> <ion-icon slot="icon-only" name="home"></ion-icon>
    </ion-button>
    </ion-item>

  </ion-toolbar>
</ion-header>

<ion-content>



<ion-title class="ion-text-center"><h2>Act. masiva DN, FECHA Y CADUCIDAD por ICC</h2> </ion-title> 
<p class="lead"></p>

<!-- Upload  -->
<!-- <form id="file-upload-form" class="uploader">
  <input id="file-upload" type="file" 
  (change)="fileUpload($event)"
  
  name="fileUpload" accept=".xls,.xlsx,.csv" />

  <label for="file-upload" id="file-drag">
    <img id="file-image" src="#" alt="Preview" class="hidden">
    <div id="start">
      <i class="fa fa-download" aria-hidden="true"></i>
      <div>Selecciona un archivo</div>
      <div id="notimage" class="hidden">Porfavor selecciona un archivo valido</div>
      <span id="file-upload-btn" class="btn btn-primary">Carga de archivo</span>
    </div>
    <div id="response" class="hidden">
      <div id="messages"></div>
      <progress class="progress" id="file-progress" value="0">
        <span>0</span>%
      </progress>
    </div>
  </label>
</form> -->






<!-- <input type="file" style="display: inline-block;" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx">
<button type="button" class="btn btn-info" (click)="Upload()" >Upload</button> -->







<ion-grid>
<ion-row class="ion-justify-content-center">

  <ion-col size="3">
    <div class="input-file">
      <label for="file-upload" class="lbl-file" [ngClass]="{color1: filename, color2: !filename}">
        <ion-icon name="add" *ngIf="!filename" class="icon"></ion-icon>
        <ion-icon name="checkmark-circle" *ngIf="filename" class="icon"> </ion-icon>
      </label>
      <input id="file-upload" type="file" (change)="fileHandle($event)" style='display: none;'>
    </div>
    <ion-label>
      <h2>{{filename}}</h2>
    </ion-label>
    <ion-button (click)="createUsersMulti()" [disabled]="!filename"  size="small" color="primary">
      Cargar archivo
    </ion-button>

  </ion-col>
</ion-row>
</ion-grid>





</ion-content>

