<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Cellular Planet</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">




    <ion-button (click)="vendedores()" expand="block"  shape="round">
      Vendedores
     </ion-button>

    
     <ion-button (click)="icc()" expand="block"  shape="round">
      Asignación
     </ion-button>


    <ion-button (click)="bait()" expand="block"  shape="round">
      Actualizar datos
     </ion-button>


     <ion-button (click)="estatus()" expand="block"  shape="round">
      Actualización de estatus
     </ion-button>


     

     <ion-button (click)="actualizaVendedor()" expand="block"  shape="round">
      Reasignación
     </ion-button>

     <!-- <ion-button (click)="eliminaRegistro()" expand="block"  shape="round">
      Elimina registro venta
     </ion-button> -->



     <ion-button (click)="proveedores()" expand="block"  shape="round">
      Admin. Proveedor
    </ion-button>




    <ion-button (click)="existencias()" expand="block"  shape="round">
      Existencias por vendedor
    </ion-button>


    <ion-button (click)="simspdv()" expand="block"  shape="round">
      Sims entregados en PDV
    </ion-button>



    <ion-button (click)="simsvendedor()" expand="block"  shape="round">
      Sims entregados a Vendedores
    </ion-button>

     <ion-button color="danger" (click)="salir()" expand="block"  shape="round">
      Cerrar sesión
     </ion-button>
  
  </ion-content>
  </ion-menu>
  
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button ></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-text-center">Celullar Planet</ion-title>
      </ion-toolbar>
    </ion-header>


<br>
<ion-grid fixed>
  <ion-row>
    <ion-col size="6">
      <ion-card>
        <ion-card-content>
        <ion-label class="ion-text-center">TEXTO PRINCIPAL DEL PORTAL </ion-label>  
        </ion-card-content>
          
      </ion-card>


    </ion-col>
    
  </ion-row>
</ion-grid>
   
    


  </div>
</ion-app>