<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Cellular Planet</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
       <ion-button (click)="proveedores()" expand="block"  shape="round">
      Admin. Proveedor
    </ion-button>

    <ion-button (click)="icc()" expand="block"  shape="round">
     ICC (Proveedores)
    </ion-button>


    <ion-button (click)="bait()" expand="block"  shape="round">
      BAIT
     </ion-button>

     <ion-button (click)="vendedores()" expand="block"  shape="round">
      Vendedores
     </ion-button>
    
    
  
  </ion-content>
  </ion-menu>
  
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button ></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-text-center">Celullar Planet</ion-title>
      </ion-toolbar>
    </ion-header>




    <ion-content class="ion-padding">
      TEXTO PRINCIPAL DEL PORTAL
    </ion-content>
  </div>
</ion-app>