<ion-header>
  <ion-toolbar>
    <ion-item>
          <ion-title class="ion-text-center">Detalle sims entregadas: {{vendedor}}</ion-title>
          <ion-title class="ion-text-center">Del: {{inicio}} al: {{fin}}</ion-title>
  
    <ion-button [routerLink]="['/home']"> <ion-icon slot="icon-only" name="home"></ion-icon>
    </ion-button>

    <ion-button (click)="regresar()" expand="block" fill="clear" shape="round">
      Regresar
    </ion-button>
    </ion-item>



  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-grid fixed>
    <ion-row  >
      <ion-col size="6" *ngFor="let data of simscontador">
        
        
        
            <!-- <ion-item-group>

              <ion-item-divider>
                <ion-icon slot="start" color="primary" name="car"></ion-icon> COMPANIA: {{data.COMPANIA}}
EXISTENCIAS: {{data.CONTADOR}}
      </ion-item-divider>
    </ion-item-group> -->
         
    
    
    <ion-button (click)="detalle(data.COMPANIA)"  expand="block"  shape="round">
      {{data.COMPANIA}}
      EXISTENCIAS: {{data.CONTADOR}}
    </ion-button>







      </ion-col>
      
    </ion-row>
  </ion-grid>



  <ion-grid fixed *ngIf="proveedor">
    <ion-row>
      <ion-col size="10">
        <ion-card>
          <ion-card-content>


            <ion-title class="ion-text-center">{{proveedor}}</ion-title>
        
          
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Filtro" [(ngModel)]="term">
        
          </div>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ICC</th>
                    <th scope="col">DN</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of detalles | filter:term" align="center"   >
                    <td> 
                      {{data.ICCI}}
                    </td>
                    <td> 
                      {{data.DN}}
                    </td>

                </tr>
            </tbody>
        </table>
          </ion-card-content>
        </ion-card> 

      </ion-col>
      
    </ion-row>
  </ion-grid> 












</ion-content>
